---
layout: default
title: Data Science Confidential
---
<div class="blurb">
	<h1 style="font-family:monospace; font-weight:bold;">Data Science Confidential</h1>
	<p>This is a blog about statistics, machine learning, computing etc. The title is a reference to the movie
	<a href="https://en.wikipedia.org/wiki/Kansas_City_Confidential">Kansas City Confidential</a> which spawned
	a series of 'confidential' films.
</div><!-- /.blurb -->	
	
        <p>Click on the thing in the top left to view a list of recent posts, or for the most recent post, go here:
	{% assign post = site.posts.first %}
	{% if post.title %}
            <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
        {% endif %}
	</p>
		
	<ul>
		<li><a href="https://rtrvale.github.io" target=new>My homepage</a>
	</ul>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
    <a href="{{ post.url }}#disqus_thread">View or add comments</a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older"></span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer"></span>
  {% endif %}
</div>
