<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/syntax.css"> <!-- code listings-->
			<link rel="stylesheet" href="/css/poole.css">
                        <link rel="stylesheet" href="/css/lanyon.css">
			<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
			<link rel="icon" href="favicon.ico" />
			<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
			{% include mathjax_support %}
			{% if page.header-img %}
			    <meta property="og:image" content="{{ site.url }}/{{ page.header-img }}" />
                        {% endif %}
			{% if page.subtitle %}
			    <meta property="og:description" content="{{ page.subtitle }}" />
                        {% endif %}
		</head>
		
		<body class="theme-base-0d sidebar-overlay">
		    
			
			<!-- Sidebar should appear here! -->
			{% include sidebar.html %}
	
			
			

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
		  <a href="{{site.url}}" title="Home">Main</a> | <a href="{{site.url}}/about.html" title="Home">About</a> | 
		  <a href="{{site.baseurl}}/categories/">
		  Categories</a> | <a href="{{site.baseurl}}/feed.xml">Feed</a>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');
        document.addEventListener('click', function(e) {
          var target = e.target;
          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;
          checkbox.checked = false;
        }, false);
      })(document);
    </script>
			
    <!-- <label for="sidebar-checkbox" class="sidebar-toggle"></label> -->
			<!-- <nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav> -->
			{% include analytics.html %}
		</body>
	</html>
